<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Send</h3>
              </div>
              <div class="col-4 text-right">
                    <a [routerLink]="['/inbox']" class="btn btn-sm btn-primary" title="back"><i class="fa fa-arrow-left"></i></a>
              </div>
            </div>  
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Message</th>
                  <th scope="col">View</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ia of senddata">
                  <td>
                  {{ia.date}}
                  </td>
                  <td>
                    {{ia.user_email}}
                  </td>
                  <td>
                    {{ia.to}}
                  </td>
                  <td>
                    {{ia.subject}}
                  </td>
                  <td>
                    {{ia.message}}
                  </td>
                  <td>
                    <a class="btn btn-sm btn-success" (click)="send_view(ia.id)"><i class="fa fa-eye"></i></a> 
                  </td>
                  <td>
                    <a class="btn btn-sm btn-warning" href="javascript:void(0)" (click)="senddelete(ia.id)">Delete</a>
                  </td>
                </tr>
                <tr *ngIf="nodata" style="text-align: center;vertical-align: middle;justify-content: center;">
                    <td colspan="7" id="error">No data Found.</td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <!-- <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  