<div class="header bg-gradient-danger">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <!-- <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7" style="margin-top: 170px;">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <H1>Sign In</H1>
          </div>
          <div id="error_login"></div>
          <form  [formGroup]="loginForm">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="User Name" type="email" name="username" formControlName="username">
              </div>
              <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                <div *ngIf="formControls.username.errors.required" style="color: red;">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div> 
                <input class="form-control" placeholder="Password" type="password" name="password" formControlName="password">
              </div>
              <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                <div *ngIf="formControls.password.errors.required" style="color: red;">Password is required</div>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="login()" [disabled]="isLoading">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>Sign in</button>
              <h5 style="color: rgb(175, 38, 38);">{{ErrorMessage}}</h5> 
            </div>
            <div class="text-center">
              <a href="javascript:void(0)" [routerLink]="['/forgotpassword']" class="text-light"><small class="text-muted">Forgot password?</small></a> /
            <a class="text-light" routerLinkActive="active" [routerLink]="['/register']">
               
              <small class="text-muted">New User</small>
            </a>
          </div>
            <!-- <a  routerLinkActive="active" [routerLink]="['/login']">
              
              <span class="nav-link-inner--text">Login</span>
            </a> -->
          </form>
          <!-- {{loginForm.value | json}} -->
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" [routerLink]="['/forgotpassword']" class="text-light"><small>Forgot password?</small></a>
        </div>
        
      </div> -->
    </div>
  </div>
</div>
