<div class="header bg-gradient-danger">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <!-- <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12" style="margin-top: 170px;">
      <div class="card bg-secondary shadow border-0">
        <!-- <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div> -->
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h1> Sign Up</h1>
          </div>
          <form [formGroup]="registrationForm">
            <div class="row">
              <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                
                <input class="form-control" placeholder="User name" type="text" name="username" formControlName="username">
               
                <span *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                  <span *ngIf="formControls.username.errors.required"><h5 style="color: red;">User name is required</h5></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
               
                <input class="form-control" placeholder="Password" type="password" name="password" formControlName="password">

                <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                  <span *ngIf="formControls.password.errors.required"><h5 style="color: red;">password is required</h5></span>
                  <span *ngIf="registrationForm.get('password').errors && (registrationForm.get('password').touched || registrationForm.get('password').dirty)">
                    <h5 style="color: red;">Password must be 8 characters, 1 upper case letter, and 1 special character</h5>
                    </span>
               </span>
               
                
              </div>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                  
                    <select class="form-control"  placeholder="Title" type="text" name="title" formControlName="title">
                      <option value="">Select</option>
                      <option value="1">Mr</option>
                      <option value="2">Ms</option>
                    </select>
                  <!-- <input class="form-control" placeholder="Title" type="text" name="title" formControlName="title"> -->
                 
                  <span *ngIf="isSubmitted && formControls.title.errors" class="help-block">
                    <span *ngIf="formControls.title.errors.required"><h5 style="color: red;">Title is required</h5></span>
                  </span>
                </div>
              </div>
              </div>
          <div class="col-lg-6">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                
                <input class="form-control" placeholder="First Name" type="text" name="firstname" formControlName="firstname">
               
                <span *ngIf="isSubmitted && formControls.firstname.errors" class="help-block">
                  <span *ngIf="formControls.firstname.errors.required"> <h5 style="color: red;">First Name is required</h5></span>
                </span>
              </div>
            </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                  </div>
                 
                  <input class="form-control" placeholder="Surname" type="text" name="surname" formControlName="surname">
                 
                  <span *ngIf="isSubmitted && formControls.surname.errors" class="help-block">
                    <span *ngIf="formControls.surname.errors.required"><h5 style="color: red;">Surname is required</h5></span>
                  </span>
                </div>
              </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <!-- <input angular-mydatepicker name="mydate"
                  [options]="myOptions" #dp="angular-mydatepicker"/>  
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dp.clearDate()">
                      <i class="fa fa-close"></i>
                    </button>
                  </div> -->
                 
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                   
                    <input class="form-control" placeholder="DOB"   name="dob" formControlName="dob" autocomplete="off" type="date">  
                   
                    <!-- <div class="input-group-append">
                      <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
                        <i class="fa fa-calendar-o"></i>
                      </button>
                    </div> -->
                    <span *ngIf="isSubmitted && formControls.dob.errors" class="help-block">
                      <span *ngIf="formControls.dob.errors.required" ><h5 style="color: red;">Date of birth is required</h5></span>
                    </span>
                  </div>
                </div>
                </div>
                
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                  </div>
                  
                  <input class="form-control" placeholder="Postcode" type="text" name="postcode" formControlName="postcode">
                  
                  <span *ngIf="isSubmitted && formControls.postcode.errors" class="help-block">
                    <span *ngIf="formControls.postcode.errors.required"><h5  style="color: red;">Postcode is required</h5></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                  </div>
                  
                  <input class="form-control" placeholder="Address" type="text" name="address" formControlName="address">
                 
                  <span *ngIf="isSubmitted && formControls.address.errors" class="help-block">
                    <span *ngIf="formControls.address.errors.required" ><h5 style="color: red;">Address is required</h5></span>
                  </span>
                </div>
              </div>
              </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  
                  <input class="form-control" placeholder="Email-Id" type="email" name="email" formControlName="email">
                  
                  <span *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                    <span *ngIf="formControls.email.errors.required"><h5 style="color: red;">Email is required</h5></span>
                  </span>
                </div>
              </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                    </div>
                    
                    <input class="form-control" placeholder="Mobile No." type="text" name="mobile" formControlName="mobile" maxlength="12" (keypress)="numberOnly($event)">
                   
                    <span *ngIf="isSubmitted && formControls.mobile.errors" class="help-block">
                      <span *ngIf="formControls.mobile.errors.required"><h5 style="color: red;">Mobile is required</h5></span>
                    </span>
                  </div>
                </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                      </div>
                      
                      <input class="form-control" placeholder="Additional Contact No." type="text" name="phone" formControlName="phone" maxlength="12" (keypress)="numberOnly($event)">
                     
                      <span *ngIf="isSubmitted && formControls.phone.errors" class="help-block">
                        <span *ngIf="formControls.phone.errors.required" ><h5 style="color: red;">Additional Contact No. is required</h5></span>
                      </span>
                    </div>
                  </div>
                  </div> 
            </div>
           
            <!-- <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div> -->
            <!-- <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div> -->
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" (click)="signup()" [disabled]="isLoading">
                <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading}"></i>Create account</button>
                <h5 style="color: rgb(175, 38, 38);">{{ErrorMessage}}</h5> 
            </div><br>
            <div class="text-center">
              <a href="javascript:void(0)" [routerLink]="['/forgotpassword']" class="text-light"><small class="text-muted">Forgot password?</small></a> /
            <a class="text-light" routerLinkActive="active" [routerLink]="['/login']">
               
              <small class="text-muted">Login</small>
            </a>
          </div>
          </form>
          <!-- {{registrationForm.value | json}} -->
        </div>
      </div>
    </div>
  </div>
</div>
