<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add Upload</h3>
            </div>
            <div class="col-4 text-right">
              <a [routerLink]="['/pba_introducers/upload']" class="btn btn-sm btn-primary" title="back"><i class="fa fa-arrow-left"></i></a> 
            </div>
            </div>
          </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <form [formGroup]="adddocumentform">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control form-control-alternative" name="date" formControlName="date" placeholder="Date" />
                                <span *ngIf="isSubmitted && formControls.date.errors" class="help-block">
                                  <span *ngIf="formControls.date.errors.required"><h5 style="color: rgb(194, 37, 37);">Date is required</h5></span>
                                  </span>
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label>Title</label>
                              <input type="text" name="image"  class="form-control form-control-alternative" name="title" formControlName="title" placeholder="Title"/>
                              <span *ngIf="isSubmitted && formControls.title.errors" class="help-block">
                                <span *ngIf="formControls.title.errors.required"><h5 style="color: rgb(194, 37, 37);">Title is required</h5></span>
                                </span>
                          </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label>Description</label>
                              <input type="text" name="image"  class="form-control form-control-alternative" name="description" formControlName="description" placeholder="Description"/>
                              <span *ngIf="isSubmitted && formControls.description.errors" class="help-block">
                                <span *ngIf="formControls.description.errors.required"><h5 style="color: rgb(194, 37, 37);">Description is required</h5></span>
                                </span>
                          </div>
                          </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                              <label>Document</label>
                                <input type="file" name="image" class="form-control form-control-alternative" (change)="fileProgress($event)" name="document" formControlName="document" placeholder="Document"/>
                                <span *ngIf="isSubmitted && formControls.document.errors" class="help-block">
                                  <span *ngIf="formControls.document.errors.required"><h5 style="color: rgb(194, 37, 37);">Document is required</h5></span>
                                  </span>
                            </div>
                          </div>
                       
                    </div>
                            <div class="form-group">
                                <button class="btn btn-primary" (click)="adddocument()">Submit</button>
                            </div>
                        </form>
                        <!-- {{adddocumentform.value | json}} -->
                    </div>
                </div>
            </div>

        </div>
         
        </div>
      </div>
    </div>
  </div>
  