<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Reset Password</h3>
              </div>           
            <form [formGroup]="resetpasswordform">
              <input type="hidden"  name="token" formControlName="token">
                       
                        <input type="hidden"  name="email" formControlName="email">
                        <input type="hidden"  name="token" formControlName="token">
                        
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Password</label>
                        <input type="password" class="form-control form-control-alternative" placeholder="password"  name="password" formControlName="password">
                        <span *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                            <span *ngIf="formControls.password.errors.required"><h5 style="color: rgb(204, 61, 61);">password is required</h5></span>
                            <span *ngIf="resetpasswordform.get('password').errors && (resetpasswordform.get('password').touched || resetpasswordform.get('password').dirty)">
                              <h5 style="color: red;">Password must be 8 characters, 1 upper case letter, and 1 special character</h5>
                              </span>
                          </span>
                      </div>
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Confirm Password</label>
                        
                        <input type="password" class="form-control form-control-alternative" placeholder="Confirm Password"  name="password_confirmation" formControlName="password_confirmation">
                     
                        <span *ngIf="isSubmitted && formControls.password_confirmation.errors" class="help-block">
                            <span *ngIf="formControls.password_confirmation.errors.required"><h5 style="color: rgb(204, 61, 61);">Confirm password is required</h5></span>
                          </span>
                      </div>
                      <div class="form-group">
                       <button class="btn btn-info" (click)="resetpassword()">Reset</button>
                      </div>
                   
                    
                    
               
           
                    </form>
                    <!-- {{resetpasswordform.value | json}} -->
         
        </div>
        
        
      </div>
    </div>
    
  </div>
  